In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('/archive2/k_orawee/Taow/streamlit/gene_database.csv')

In [3]:
test=pd.read_csv('/archive2/k_orawee/Taow/streamlit/B110-LEG3394ez.2.gatk.st.union.vcf',sep='\t')

In [12]:
data['Sequence_Ref'][0]==test['#CHROM'][0]

True

In [20]:
test

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,Mtb.gatk,Mtb.samtools
0,NC_006350.1,82,.,G,A,9653.0,PASS,"AC=3;AC1=2;AF=1.00;AF1=1;AN=3;DP=367;DP4=0,0,9...",GT:AD:DP:GQ:PL,"1:0,246:246:99:9683,0","1/1:.:.:.:255,255,0"
1,NC_006350.1,238,.,C,T,10125.0,PASS,AC=3;AC1=2;AF=1.00;AF1=1;AN=3;BaseQRankSum=1.6...,GT:AD:DP:GQ:PL,"1:1,249:250:99:10155,0","1/1:.:.:.:255,255,0"
2,NC_006350.1,649,.,G,A,10215.0,PASS,"AC=3;AC1=2;AF=1.00;AF1=1;AN=3;DP=649;DP4=0,0,2...",GT:AD:DP:GQ:PL,"1:0,250:250:99:10245,0","1/1:.:.:.:255,255,0"
3,NC_006350.1,814,.,T,C,10341.0,PASS,"AC=3;AC1=2;AF=1.00;AF1=1;AN=3;DP=662;DP4=0,0,2...",GT:AD:DP:GQ:PL,"1:0,250:250:99:10371,0","1/1:.:.:.:255,255,0"
4,NC_006350.1,2969,.,T,G,10251.0,PASS,"AC=3;AC1=2;AF=1.00;AF1=1;AN=3;DP=656;DP4=0,0,1...",GT:AD:DP:GQ:PL,"1:0,250:250:99:10281,0","1/1:.:.:.:255,255,0"
...,...,...,...,...,...,...,...,...,...,...,...
25607,NC_006351.1,3172050,.,A,T,9880.0,PASS,AC=3;AC1=2;AF=1.00;AF1=1;AN=3;BQB=1;BaseQRankS...,GT:AD:DP:GQ:PL,"1:1,247:249:99:9910,0","1/1:.:.:.:255,255,0"
25608,NC_006351.1,3172135,.,C,T,10233.0,PASS,AC=3;AC1=2;AF=1.00;AF1=1;AN=3;BQB=1;DP=607;DP4...,GT:AD:DP:GQ:PL,"1:0,250:250:99:10263,0","1/1:.:.:.:255,255,0"
25609,NC_006351.1,3172464,.,T,C,10257.0,PASS,"AC=3;AC1=2;AF=1.00;AF1=1;AN=3;DP=613;DP4=0,0,1...",GT:AD:DP:GQ:PL,"1:0,249:249:99:10287,0","1/1:.:.:.:255,255,0"
25610,NC_006351.1,3172503,.,C,T,10323.0,PASS,"AC=3;AC1=2;AF=1.00;AF1=1;AN=3;DP=614;DP4=0,0,2...",GT:AD:DP:GQ:PL,"1:0,249:249:99:10353,0","1/1:.:.:.:255,255,0"
25611,NC_006351.1,3172716,.,C,T,10328.0,PASS,"AC=3;AC1=2;AF=1.00;AF1=1;AN=3;DP=575;DP4=0,0,1...",GT:AD:DP:GQ:PL,"1:0,250:250:99:10358,0","1/1:.:.:.:255,255,0"

In [7]:
# Convert columns to string to ensure consistent data types
test['#CHROM'] = test['#CHROM'].astype(str)
data['Sequence_Ref'] = data['Sequence_Ref'].astype(str)

test['POS'] = test['POS'].astype(str)
data['Chromosome position'] = data['Chromosome position'].astype(str)

# Adding an index column to `data` for reference
data['index'] = data.index

# Merging the two DataFrames after ensuring the data types are consistent
merged_df = test.merge(
    data,
    left_on=['#CHROM', 'POS','REF','ALT'],
    right_on=['Sequence_Ref', 'Chromosome position','Reference Nucleotide','Alternative Nucleotide'],
    how='inner'
)

# Getting the indices from the 'data' DataFrame that match the conditions
al1 = merged_df['index'].tolist()

In [8]:
mm=merged_df[['Gene','POS','REF','ALT','QUAL','Positive Ref Codon','Positive Alt Codon','Nucleotide change','Amino acid change','Drug','AST','Reference']]

In [9]:
merged_df

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,Mtb.gatk,...,Stop,Sequence_Ref,Positive Ref Codon,Positive Alt Codon,Reference Nucleotide,Alternative Nucleotide,Nucleotide change,Chromosome position,Amino acid change,index
0,NC_006350.1,2152876,.,G,T,214.46,PASS,"AC=2;AC1=2;AF=1.00;AF1=1;AN=2;DP=363;DP4=0,0,1...",GT:PL,./.,...,2152980,NC_006350.1,GAG,TAG,G,T,G568T,2152876,Glu190*,0

In [10]:
mm

,Gene,POS,REF,ALT,QUAL,Positive Ref Codon,Positive Alt Codon,Nucleotide change,Amino acid change,Drug,AST
0,amrR,2152876,G,T,214.46,GAG,TAG,G568T,Glu190*,Meropenem,Resistance

In [17]:
for i in range(len(mm)):
    matches1 = mm.query('Drug == "Ceftazidime" or Drug == "Meropenem"')

In [18]:
matches1

,Gene,POS,REF,ALT,QUAL,Positive Ref Codon,Positive Alt Codon,Nucleotide change,Amino acid change,Drug,AST
0,amrR,2152876,G,T,214.46,GAG,TAG,G568T,Glu190*,Meropenem,Resistance

In [32]:
druglist=['Ceftazidime','Meropenem']
interpretlist=['Susceptible','Susceptible']
fstdrug=pd.DataFrame(druglist)
fstdrug['Interpretation']=interpretlist

In [43]:
fstdrug

         Drugs Interpretation
0  Ceftazidime     Resistance
1    Meropenem     Resistance

In [42]:
fstdrug.columns=['Drugs','Interpretation']

In [44]:

for i in range(len(mm)):
    if (mm['Drug'][i]=='Meropenem'):
        if mm['AST'][i]=='Resistance' :
            fstdrug['Interpretation'][1]='Resistance'
        elif (mm['AST'][i]=='Intermediate')&(fstdrug['Interpretation'][1]!='Resistance'):
            fstdrug['Interpretation'][1]='Intermediate'
        else :
            pass
    elif (mm['Drug'][i]=='Ceftazidime'):
        if mm['AST'][i]=='Resistance' :
            fstdrug['Interpretation'][0]='Resistance'
        elif (mm['AST'][i]=='Intermediate')&(fstdrug['Interpretation'][1]!='Resistance'):
            fstdrug['Interpretation'][0]='Intermediate'
        else :
            pass
    else:
        pass

In [58]:
fstdrug

            Interpretation
Drug
Ceftazidime    Susceptible
Meropenem       Resistance

In [57]:
fstdrug.set_index('Drug', inplace=True)

In [50]:
import pandas as pd


# Initial fstdrug DataFrame
druglist = ['Ceftazidime', 'Meropenem']
interpretlist = ['Susceptible', 'Susceptible']
fstdrug = pd.DataFrame({
    'Drug': druglist,
    'Interpretation': interpretlist
})

# Define mapping for drug to index
drug_index = {drug: idx for idx, drug in enumerate(druglist)}

# Update the Interpretation column based on conditions
def update_interpretation(drug, ast, current_value):
    if ast == 'Resistance':
        return 'Resistance'
    elif ast == 'Intermediate' and current_value != 'Resistance':
        return 'Intermediate'
    return current_value

# Apply conditions to update fstdrug
for i, row in mm.iterrows():
    drug = row['Drug']
    ast = row['AST']
    if drug in drug_index:
        index = drug_index[drug]
        fstdrug.at[index, 'Interpretation'] = update_interpretation(drug, ast, fstdrug.at[index, 'Interpretation'])
fstdrug

          Drug Interpretation
0  Ceftazidime    Susceptible
1    Meropenem     Resistance

In [53]:
fstdrug.at[0, 'Interpretation']

'Susceptible'

In [56]:
drug_index['Ceftazidime']

0

In [67]:
fstdrug = fstdrug.style.map(lambda x: f"background-color: {'green' if x=='Susceptible' else 'red'}", subset='I')

AttributeError: 'Styler' object has no attribute 'map'